/**********************  The Process Circle Model  **********************/
/*
    -green: #77a183;
    -purple: #b96990;
*/

.stackPane {
    -fx-scale-y: 1.00;
    -fx-scale-x: 1.00;
}

.BackgroundCircle {
    -fx-fill: linear-gradient(to top, rgba(185, 105, 144, 1) 50%, rgba(119, 161, 131, 1) 50%);
    -fx-stroke: transparent;
}

.arrowCircle {
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.topButton1 {
    -fx-background-color: rgba(119, 161, 131, 1);
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
}

.topButton2 {
    -fx-background-color: rgba(119, 161, 131, 1);
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
}

.topButton3 {
    -fx-background-color: rgba(119, 161, 131, 1);
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
}

.middleButton {
    -fx-background-color: linear-gradient(to right, rgba(185, 105, 144, 1) 50%, rgba(119, 161, 131, 1) 50%);
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
}

.bottomButton4 {
    -fx-background-color: rgba(119, 161, 131, 1);
    -fx-border-width: 2;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-insets: -1 -1 -2 -1;
}

.bottomButton5 {
    -fx-background-color: rgba(185, 105, 144, 1);
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
}

.staticLabel {
    -fx-text-fill: White;
    -fx-font-weight: bold;
    -fx-font-size: 4.5;
    -fx-font-family: Cambria;
}

.topButton1:hover,
.topButton1:armed,
.topButton1:focused {
}

.topButton2:hover,
.topButton2:armed,
.topButton2:focused {
}

.topButton3:hover,
.topButton3:armed,
.topButton3:focused {
}

.bottomButton4:hover,
.bottomButton4:armed,
.bottomButton4:focused {
    -fx-background-color: rgba(119, 161, 131, 1);
    -fx-border-width: 2;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Arial;
    -fx-text-alignment: justify;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-insets: -1 -1 -2 -1;
}

.bottomButton5:hover,
.bottomButton5:armed,
.bottomButton5:focused {
}

.middleButton:hover,
.middleButton:armed,
.middleButton:focused {
}