/*********** THE PARENT TAB-PANE ****************/
/*********** THE PARENT TAB-PANE ****************/
/*********** THE PARENT TAB-PANE ****************/

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 140px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
    -fx-pref-height: 35px;
    -fx-wrap-text: true;
}

.tab-pane .tab {
    -fx-background-color: rgba(119, 161, 131, 1);
}

.tab-pane .tab:selected {
    -fx-background-color: rgba(185, 105, 144, 1);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}

.informationButton{
    -fx-background-image: url("../images/infoBtn.png");
    -fx-background-size: 25;
    -fx-background-color: transparent;
    -fx-border-radius: 25;
    -fx-border-color: black;
    -fx-padding: 1, 1, 1, 1;
}

.informationButton:hover,
.informationButton:armed,
.informationButton:focused {
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
    -fx-border-insets: 0 0 0 0;
}

.labelTitle{
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.tooltip{
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.addMedicineFieldBtn{
    -fx-background-image: url("../images/addMedicine.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-border-radius: 25;
    -fx-border-color: transparent;
    -fx-padding: 1, 1, 1, 1;
    -fx-cursor: hand;
}


.addMedicineFieldBtn:hover{
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
}

/* Tableviews */

.table-view,
.table-view .table-column,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.Funktionstable-view .column-header-background{
    -fx-background-color: rgba(198,178,47,1);
    -fx-border-color: rgba(198,178,47,1);
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-padding: 0 0 0px 0;
    -fx-text-background-color: black;
}

.Helbredstable-view .column-header-background{
    -fx-background-color: rgba(125,152,171,1);
    -fx-border-color: rgba(125,152,171,1);
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-padding: 0 0 0px 0;
    -fx-text-background-color: black;
}

